/*css_francesco.css*/
/*CSS Riguardante Admin Staff*/
#inserisci{
	float:left;
}
#modifica{
	float:left;
}
#elimina{
	float:left;
}
#break{
	clear: both;
	margin-bottom:15px;
}

.container{
	height:20em;
	border:solid 0.15em #28324E;
}

/*CSS riguardante la parte dei contatti*/

.TContact{
	margin:0.1em;
	padding:0.1em;
	padding-bottom:0.3em;
	background: linear-gradient(to bottom right, #191a1c , black);
	border: solid 0.1em #28324E;
	
}
.pair{

}
.TFirst{
	margin:0.3em;
	padding:0.3em;
	display:inline-block;
	border-radius: 15px;
    border: 0.1em solid #191a1c;
	width:9em;
	background: linear-gradient(to right, #191a1c , #28324E);
}

.TSecond{
	margin:0.3em;
	display:inline;
	padding:0.1em;
	width:10em;
}

.image{
	width:9em;
	height:auto;
}

.mailto{
	text-decoration: none;
	color:#FFFFFF;
	
}

.mailto:hover + .invisible{
	text-decoration: none;
	display:inline;
}

/*CSS Servizio */
.par{
	margin:0;
	padding:0.25em;
}
.par1{
	
    border: 0.1em solid #28324E;
	/*background-image: url('../img/bgc-2.jpg');
	background-color:black;
	background-repeat: no-repeat;
	background-size: 300px 200px;
	background-position:right;
	*/
}

.par2{
    border: 0.1em solid #28324E;
	/*
	background-image: url('../img/bgdj.jpg');
	background-color:black;
	background-repeat: no-repeat;
	background-size: 300px 200px;
	background-position:left;
	*/

}

.par3{
	border: 0.1em solid #28324E;
	/*
	background-image: url('../img/bgrecord.jpg');
	background-color:black;
	background-repeat: no-repeat;
	background-size: 300px 200px;
	background-position:right;
	margin-bottom:15px;
	*/
}
.sub{
	margin:0;
	padding:0.3em;
	font-size:1.4em;

}
.sub1{
	background-color:#B8312E;
}

.sub2{
	background-color:#602a7a;
}

.sub3{
	background-color:#10a88a;
}

/*common CSS*/

.break{
	clear: both;
}

.left{
	display:inline-block;
}

.right{
	display:inline-block;
	float:right;
}

.center{
	left: 50%;
}

.SubTitle{
	/*font-family:myfont;*/
	font-size:2.25em;
	margin-bottom:0.5em;
}

.HParag{
	margin:0;
	border-radius: 0.75em;
	padding:0.5em;
    border: 0.1em solid #FFFFFF;
	/*background:linear-gradient(to right,black 30%,blue,indigo);*/
	/*font-family:myfont;*/
	font-size:1.6em;
}

.invisible{
	height:0.9em;
	width:0.9em;
	display:none;
}

@font-face {
    font-family: "myfont";
    src: url("web fonts/main_font/SFSportsNight.woff") format('woff');
}
