@charset "utf-8";
/* CSS MATTEO */


.attr_content{
	padding:0;
	margin-top: 0.5em;
	border: solid;
	border-color: #28324E;
	height: 5em;
}
.attr_img{
	float:left;
	margin-top: 0.25em;
	margin-left: 0.25em;
	margin-right:0.25em;
	max-height: 4.5em;
	max-width: 4.5em;
	margin:solid;
}

.div_cont{
margin-left:5.5em;
	
}

.attr_nome{
	font-size: large;

}
.attr_cod{
	color: #999;
	font-size: x-small;
}
.attr_descr{
	font-size: xx-small;
}
.attr_prezzo{
	float:right;
	margin-right: 1em;
	margin-left: 0.50em;
	color:#C06;
	
}
.attr_disp{
	float:right;
	margin-right:1em;
}
.attr_disp_no{
	float:right;
	margin-right:1em;
	color: red;
}
.attr_disp_si{
	float:right;
	margin-right:1em;
	color: #2CDC2C;
}

.attr_button{
	display:inline;
}

.attr_button2{
	display:inline;
}

#img_mod{
	background-image: url("../img/m.png");
	background-size:cover;
}
#img_rem{
	background-image: url("../img/x.png");
	background-size:cover;
}
#num_pagine{
	text-align:right;
}
#admin_benvenuti{
	text-align:center
}
#admin_benvenuti2{
	text-align:center;
}
#pagina_button{
	border-style:none;
	margin-left: 0.5em;
	height: 1.5em;
	border-radius: 0.2em;
	background-color: #75706B;
	text-decoration: none;
	color: #EFEFEF;
	font-weight: bolder;
}
#pagina_button:hover{
	background-color: #A38F84;
}

.img_attr{
	height: 100%;
	
}
#pr{
	font-size:xx-small;
	text-align:left;
}
#pulsante_vai{
	border-style: none;
	height: 1.6em;
	outline:0;
	border-radius: 0.2em;
	margin-left: 0.2em;
}
#inserisci_pulsante{
	float:left;
	border-style: none;
	height: 1.6em;
	outline:0;
	border-radius: 0.2em;
	margin-left: 0.2em;
	padding-bottom: 0.1%;
}
/*#inserisci_pulsante_unixpage{
	border-style: none;
	height: 1.6em;
	background-color:#b8312e;
	color:#EFEFEF;
	outline:0;
	border-radius: 0.2em;
	margin-left: 0.2em;
	padding-bottom: 0.1%;
}*/
.form_attr_nome{
	padding:2%;
	border:solid;
	border-color:#28324E;
}
#form_attr_img{
	
}
#form_attr_img_alt{

}

#form_attr_descr_input{
	width:96%;
	min-width:96%;
display:block;
	margin:0.5%;
	resize: none;
}

#form_attr_img_alt_input{
	width: 96%;
	max-width:96%;
	margin:1%;
	display:block;
	resize: none;
}
