@charset "utf-8";
/* CSS registrazione, login,staff(vedi note) */

.content_staff{
	padding:0;
	margin-top: 0.5em;
	border: solid;
	border-color: #28324E;
	height: 5em;
	border-radius: 0.5em;
}
.img_staff{
	margin-top: 0.25em;
	margin-left: 0.25em;
	margin-right:0.25em;
	height: 4.5em;
	width: 4.5em;
	margin:solid;
}

.inp_utente, .inp_pass{ /*box inserimento utente e pwd in login*/
	margin-left: 4 em;
}

.content_form{
	text-align: center;
}

#errore_login{ /*colore e posizione del testo in caso di err. login e registr. */
	color: red;
	text-align:center;
}

#colonna_uno{
	float: left;
	background-image: url(../img/colonnasinistra.png);
	background-color:#b8312e;
}

#colonna_due{
	float: left;
	margin-left:2%;
	background-color: #602a7a;
	background-image: url(../img/colonnacentrale.png);
}

#colonna_tre{
	margin-left:68%;
	background-color: #055b4a;
	background-image: url(../img/colonnadestra.png);
}

.break{
	clear: both;
}

.imgpos{
	float:left;
}

.text{
	float:left;
}

/*immagini del footer*/
.image_footer{
margin-top:0;
width: 5em;
}
