@charset "utf-8";
/* CSS registrazione, login,staff(vedi note) */

.content_staff{
	padding:0;
	margin-top: 0.5em;
	border: solid;
	border-color: #28324E;
	height: 5em;
	border-radius: 0.5em;
}

.attr_img{ /*uguale a quello di puc, ne basta uno*/
	float: left;
	margin-top: 0.25em;
	margin-left: 0.25em;
	margin-right:0.25em;
	height: 4.5em;
	margin:solid;
}

.ruolo_staff{
	/*margin-left: 4em;*/
	float:right;
}

.nome_staff{
	margin-left: 8em;
	font-size: large;
	text-align: left;
}

.inp_utente, .inp_pass{ /*box inserimento utente e pwd in login*/
	margin-left: 4 em;
}

.content_form{
	text-align: center;
}

input#submit,input#reset ,input#Registrati{ /*submit,reset,registrati di pagine login e reg. */
	border-radius: 0.5em;
	color: #191a1c;
	background-color: #EFEFEF ;
}

#errore_login{ /*colore e posizione del testo in caso di err. login e registr. */
	color: red;
	text-align:center;
}

