@charset "utf-8";
@font-face {
    font-family: 'open_sansregular';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@keyframes longspaceboots { 
    0% { transform: rotate(0deg) }
    20% { transform: rotate(-0.1deg) }
    40% { transform: rotate(-0.1deg) }
    60% { transform: rotate(0deg) }
    80% { transform: rotate(-0.1deg) }
    100% { transform: rotate(-0.1deg) }
}
@-webkit-keyframes longspaceboots { 
    0% { -webkit-transform: rotate(0deg) }
    20% { -webkit-transform: rotate(-0.1deg) }
    40% { -webkit-transform: rotate(0.1deg) }
    60% { -webkit-transform: rotate(0deg) }
    80% { -webkit-transform: rotate(0.1deg) }
    100% { -webkit-transform: rotate(-0.1deg) }
}
@keyframes spaceboots { 
    0% { transform: rotate(0deg) }
    20% { transform: rotate(-1deg) }
    40% { transform: rotate(1deg) }
    60% { transform: rotate(0deg) }
    80% { transform: rotate(1deg) }
    100% { transform: rotate(-1deg) }
}
@-webkit-keyframes spaceboots { 
    0% { -webkit-transform: rotate(0deg) }
    20% { -webkit-transform: rotate(-1deg) }
    40% { -webkit-transform: rotate(1deg) }
    60% { -webkit-transform: rotate(0deg) }
    80% { -webkit-transform: rotate(1deg) }
    100% { -webkit-transform: rotate(-1deg) }
}
@-webkit-keyframes shortspaceboots { 
    0% { -webkit-transform: rotate(0deg) }
    20% { -webkit-transform: rotate(-2deg) }
    40% { -webkit-transform: rotate(2deg) }
    60% { -webkit-transform: rotate(0deg) }
    80% { -webkit-transform: rotate(2deg) }
    100% { -webkit-transform: rotate(-2deg) }
}
@keyframes shortspaceboots { 
    0% { transform: rotate(0deg) }
    20% { transform: rotate(-2deg) }
    40% { transform: rotate(2deg) }
    60% { transform: rotate(0deg) }
    80% { transform: rotate(2deg) }
    100% { transform: rotate(-2deg) }
}
@media (min-width: 51em) and (min-device-width: 1024px) { 
body {
background-color:#191a1c;
color:#EFEFEF;
}

#main {
font-family:open_sansregular;
max-width:64em;
margin:auto;
}

#header {
background-image:url(../img/headmix.png);
color:#EFEFEF;
text-align:right;
line-height:.8em;
background-repeat:no-repeat;
padding:.5em;
}

#header a {
text-decoration:none;
color:#EFEFEF;
}

h1 {
font-size:3.5em;
margin-right:.5em;
}

#subheader {
position:relative;
margin-top:.4em;
margin-bottom:3em;
}

#position {
margin-top:.1em;
margin-bottom:.5em;
padding-left:1.5%;
padding-top:.5%;
padding-bottom:.5%;
background-color:#28324E;
color:#EFEFEF;
float:left;
width:94.4%;
}

#range-logo {
float:right;
margin-top:.1em;
margin-bottom:.5em;
padding-left:1.5%;
padding-top:.5%;
padding-bottom:.5%;
margin-right:-3.2em;
background-image:url(../img/flat_facebook_logo.png);
text-indent:-9999px;
display:block;
background-repeat:no-repeat;
background-size:contain;
opacity:0.8;
transition:all .2s ease-in-out;
}

#range-logo:hover {
opacity:1;
border-radius:.2em;
transform:scale(1.1);
}

#range-logo:active {
opacity:1;
border-radius:.2em;
transform:scale(1);
}

#menu {
float:left;
margin-top:-1em;
width:20%;
font-size:1.2em;
}

#menutitle {
font-size:1.2em;
margin-right:.5em;
list-style:none;
text-align:center;
border-radius:0.2;
margin-bottom:-.5em;
}

ul {
margin-bottom:0;
}

.menulist {
margin-bottom:.5em;
margin-left:-2em;
margin-right:.5em;
list-style:none;
text-align:center;
border-radius:0.2;
}

#active {
border-radius:.2em;
border-color:#28324E;
border-style:solid;
}

.menulist a:link {
transition:all .2s ease-in-out;
background-color:#806952;
text-decoration:none;
color:#EFEFEF;
display:block;
font-weight:bolder;
border-radius:.2em;
}

.menulist a:visited {
color:#FFF;
font-size:1em;
background-color:rgba(114,95,95,0.6);
}

.menulist a:hover {
transform:scale(1.1);
text-decoration:none;
background-color:#A38F84;
color:#EFEFEF;
display:block;
}

.menulist a:visited:hover {
background-color:#A38F84;
text-decoration:underline;
}

#content {
color:#EFEFEF;
text-align:justify;
margin-left:20%;
margin-bottom:.5em;
min-height:25em;
width:80%;
}

.colonna {
color:#EFEFEF;
width:31%;
min-height:600px;
background-position:bottom;
background-repeat:no-repeat;
padding:.5%;
}

.textcol {
margin-bottom:200px;
}

.contentimage {
max-width:85%;
margin-left:7.5%;
margin-right:7.5%;
margin-top:5%;
gin-bottom:5%;
}

#footer {
font-size:.8em;
padding-left:1.5%;
padding-top:.5%;
padding-bottom:.5%;
background-color:#28324E;
color:#EFEFEF;
}

.attr_content {
color:#E8D8D8;
margin-top:.5em;
border:solid;
height:5em;
border-color:#28324E;
padding:0;
}

#frase1 {
text-align:center;
margin-top:3em;
color:#E8D8D8;
font-size:1.5em;
}

#frase2 {
text-align:center;
margin-bottom:4em;
color:#E8D8D8;
font-size:1em;
}

.commento {
margin-bottom:.4em;
font-size:.9em;
background-color:#E6E6E6;
color:#191a1c;
width:auto;
line-height:1em;
padding:.5% .5% .2em;
}

.commento_intestazione {
padding-top:0;
margin-top:0;
margin-bottom:0;
color:#191a1c;
font-size:.7em;
}

.commento_numdat {
margin-top:.6em;
padding-top:0;
display:inline-block;
margin-bottom:0;
padding-bottom:0;
}

.commento_autore {
margin-top:.1em;
color:#28324E;
margin-bottom:0;
padding:0;
}

.commento_data {
margin-left:1em;
}

#commento_submit {
margin-top:.2em;
height:2em;
color:#EFEFEF;
outline:0;
border-radius:.2em;
border-style:none;
}

#commento_textarea {
min-width:50%;
max-width:50%;
height:5em;
}

.commento_immagine {
width:8%;
margin-left:.1em;
float:left;
}

.commento_corpo {
height:auto;
margin-bottom:.3em;
}

.commento_content {
margin-left:9%;
margin-right:.2em;
}

.pulsante {
height:1.6em;
background-color:#b8312e;
color:#EFEFEF;
outline:0;
border-radius:.2em;
border-style:none;
}

.pagine_submit {
margin-left:.4em;
}

.pulsante:active {
background-color:#5b0303;
}

.pagine_submit:hover button,input[type=submit] {
cursor:pointer!important;
}

.pagine {
width:100%;
height:2em;
}

#back_to_top {
background-image:url(../img/toparrow.png);
background-color:#b8312e;
border-radius:50%;
background-repeat:no-repeat;
background-size:contain;
height:1.3em;
width:1.3em;
float:right;
margin-left:.5em;
margin-top:.2em;
text-align:left;
}

#back_to_top_link {
text-indent:-9999px;
display:block;
}

.link_to_comment a {
text-decoration:underline;
color:#EFEFEF;
}

.link_to_comment a:hover {
text-decoration:underline;
color:#F30808;
}

.label {
width:7em;
display:inline-block;
}

.inputcorpo {
min-height:25em;
max-height:25em;
min-width:97%;
max-width:97%;
margin-top:.5em;
}

.annulla {
margin-left:.2em;
}

.modifica:hover {
background-color:#090;
}

.modifica:active {
background-color:#074e40;
}

#feedback_main {
background-color:#055b4a;
margin-bottom:.5em;
padding:.3em;
}

#content a:hover {
color:#F30808;
}

#content a:visited {
color:#10a88a;
}

#content a:visited:hover {
color:#F30808;
font-style:italic;
}

.fieldset_feedback {
float:right;
border-style:none;
padding:0;
}

.link_header:hover {
background-color:red;
}

.attr_button {
float:left;
display:inline;
}

.registration_message {
display:none;
margin-left:.3em;
color:red;
}

#day_number {
width:2em;
}

.attr_img {
float:left;
margin-top:.25em;
margin-left:.25em;
margin-right:.25em;
max-height:4.5em;
max-width:4.5em;
}

.div_cont {
margin-left:5.5em;
}

.attr_nome {
font-size:large;
}

.attr_cod {
color:#999;
font-size:x-small;
}

.attr_descr {
font-size:xx-small;
}

.attr_prezzo {
float:right;
margin-right:1em;
margin-left:.5em;
color:#C06;
}

.attr_disp {
float:right;
margin-right:1em;
}

.attr_disp_no {
float:right;
margin-right:1em;
color:red;
}

.attr_disp_si {
float:right;
margin-right:1em;
color:#2CDC2C;
}

.attr_button2 {
display:inline;
}

#img_mod {
background-image:url(../img/m.png);
background-size:cover;
}

#img_rem {
background-image:url(../img/x.png);
background-size:cover;
}

#num_pagine {
text-align:right;
}

#pagina_button {
margin-left:.5em;
height:1.5em;
border-radius:.2em;
background-color:#75706B;
text-decoration:none;
color:#EFEFEF;
font-weight:bolder;
border-style:none;
}

#pagina_button:hover {
background-color:#A38F84;
}

.img_attr {
height:100%;
}

#pr {
font-size:xx-small;
text-align:left;
}

#pulsante_vai {
height:1.6em;
outline:0;
border-radius:.2em;
margin-left:.2em;
border-style:none;
}

#inserisci_pulsante {
float:left;
height:1.6em;
outline:0;
border-radius:.2em;
margin-left:.2em;
padding-bottom:.1%;
border-style:none;
}

.form_attr_nome {
border:solid;
border-color:#28324E;
padding:2%;
}

#form_attr_descr_input {
width:96%;
min-width:96%;
display:block;
resize:none;
margin:.5%;
}

#form_attr_img_alt_input {
width:96%;
max-width:96%;
display:block;
resize:none;
margin:1%;
}

#fieldset_attrezzature {
border:none;
padding:0;
}

.content_staff {
margin-top:.5em;
border:solid;
height:5em;
border-radius:.5em;
border-color:#28324E;
padding:0;
}

.img_staff {
margin-top:.25em;
margin-left:.25em;
margin-right:.25em;
height:4.5em;
width:4.5em;
}

.inp_utente,.inp_pass {
margin-left:4em;
}

#errore_login {
color:red;
text-align:center;
}

#colonna_uno {
float:left;
background-image:url(../img/colonnasinistra.png);
background-color:#b8312e;
}

#colonna_due {
float:left;
margin-left:2%;
background-color:#602a7a;
background-image:url(../img/colonnacentrale.png);
}

#colonna_tre {
margin-left:68%;
background-color:#055b4a;
background-image:url(../img/colonnadestra.png);
}

.break {
clear:both;
}

.image_footer {
margin-top:0;
width:5em;
}

#break {
clear:both;
margin-bottom:15px;
}

.container {
height:20em;
border:solid .15em #28324E;
}

.TContact {
margin-bottom:.1em;
background:linear-gradient(to bottom right,#191a1c,black);
border:solid .1em #28324E;
padding:.1em .1em .3em;
}

.TFirst {
display:inline-block;
border-radius:15px;
border:.1em solid #191a1c;
width:9em;
background:linear-gradient(to right,#191a1c,#28324E);
margin:.3em;
padding:.3em;
}

.TSecond {
display:inline;
width:10em;
margin:.3em;
padding:.1em;
}

.image {
width:9em;
height:auto;
}

.mailto {
text-decoration:underline;
color:#FFF;
}

.mailto:hover + .invisible {
text-decoration:none;
display:inline;
}

.mailto:visited {
color:#10a88a;
display:inline;
}

.par {
border:.1em solid #28324E;
margin:0;
padding:.25em;
}

.sub {
font-size:1.4em;
margin:0;
padding:.3em;
}

#sub1 {
background-color:#B8312E;
}

#sub2 {
background-color:#602a7a;
}

.contact_image {
display:inline-block;
float:right;
}

.center {
left:50%;
}

.SubTitle {
font-size:2.25em;
margin-bottom:.5em;
}

.HParag {
border-radius:.75em;
border:.1em solid #FFF;
font-size:1.6em;
margin:0;
padding:.5em;
}

.invisible {
width:.9em;
display:none;
}

@font-face {
font-family:myfont;
src:url("web fonts/main_font/SFSportsNight.woff") format(woff);
}

.menulist a:active,.menulist a:active:hover {
transform:scale(1);
background-color:#75706B;
text-decoration:none;
display:block;
font-weight:bolder;
border-radius:.2em;
}

#commento_label,.label_block {
display:block;
}

.pulsante:hover,#back_to_top:hover {
background-color:#F30808;
}

#pagine_submit_top,#editindex,#new_attr {
margin-bottom:.5em;
}

.form_pagine,.erase {
float:right;
}

.link_to_comment,.imgpos,.text,#inserisci,#modifica,#elimina {
float:left;
}

.form-group,#feedbackfieldset {
border:none;
}

.modifica,#sub3 {
background-color:#055b4a;
}

#content a:active,#content a:visited:active {
color:#602a7a;
}

.fieldset_page,.fieldset_attrezzature {
border-style:none;
padding:0;
}

.registration_input,.contact_data {
display:inline-block;
}

.errore_attrezzature,#errore_numero {
float:right;
color:red;
}

#admin_benvenuti,#admin_benvenuti2,.content_form {
text-align:center;
}
}