@charset "utf-8";
@font-face {
    font-family: 'open_sansregular';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@media (max-width: 50.99em){
body {
	font-family: 'open_sansregular';
}
#header {
	background-color: #75706B;
	color: #EFEFEF;
	text-align: center;
	padding: 0.1em;

	height: 20%;
}
#header a{
	text-decoration: none;
	color:#EFEFEF;
}

h1{
	font-size: 2em;
}


.social {
position: absolute;
display: inline;
right: 3%;
}

#menu{
margin-top:0.5em;
padding:0;
}

ul{
	margin:0;
	padding: 0;
    list-style-type: none;
}
.menulist{
padding:none;
margin-top: 0.2em;
list-style: none;
text-align: center;
border-radius: 0.3em 0.3em 0.3em 0.3em;
border:solid thin #333;
min-height: 2em;
}

#active{
	color: #000;
	background-color: #999;	
}

.menulist a:link{
/*background-color: #999;*/
	padding-top:0.4em;
	text-decoration: none;
	color: #28324E;
	display:block;
	font-weight: bolder;
	border-radius: 0.3em 0.3em 0.3em 0.3em;
	min-height: 2em;

}

.menulist a:hover{ 
	text-decoration: none;
	background-color: #A38F84;
	color: #EFEFEF;
	display:block;

}

.menulist a:active{ 
	text-decoration: none;
	background-color: #A38F84;
	color: #EFEFEF;
	display:block;

}

.menulist a:visited{
	color: #9F9F9F;
	display:block;
}

.menulist a:visited:hover{ 
	color: #EFEFEF;
}
#footer {
	font-size:0.8em;
	padding-left: 1.5%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	background-color: #999;
	color:#EFEFEF;
}
#content{
	color:#191a1c;
	text-align:justify;
	margin-top:0.5em;

	margin-bottom: 0.5em;
	/*background-color:rgba(239,239,239,0.8);
	
	border: thin solid #A38F84;*/
}
#slideshow {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	border: thin solid #000;
}

.contentimage{
	max-width:85%;
	margin-left:7.5%;
	margin-right:7.5%;
	margin-top:5%;
	margin-bottom:5%;
	
}

.pulsante{
	background-color:white;
	border-radius: 0.3em 0.3em 0.3em 0.3em;
	min-height: 2em;
	vertical-align: center;
	border:solid thin #333;
}

.pulsante:hover{
	background-color: #A38F84;
	color: #EFEFEF;

}

.pulsante a{
	text-decoration: none;
}
.pulsante a:hover{
	text-decoration: none;
}

.pulsante a:link:hover{
	text-decoration: none;
}

.label_block{
	display:block;
}
.inputcorpo{
	min-width:99%;
	max-width: 99%;
	min-height: 7em;
}
.modifica{
	margin-top:0.2em;
}
.annulla{
	margin-top:0.2em;
	margin-left:0.5em;
}


.colonna{
	
	color: #EFEFEF;
	padding: 0.5%;
	background-repeat:no-repeat;
}

#colonna_live{	
	background-image: url(../img/colonnasinistramobile.png);
	background-color:#b8312e;
	background-position:left -30%;
	}
#colonna_djset{
	margin-top:0.5em;
	background-image: url(../img/colonnacentrale.png);
	background-color: #602a7a;
	background-position:right;
}
#colonna_studio{
	margin-top:0.5em;
	background-image: url(../img/colonnadestra.png);
	background-color: #10a88a;
	
}
#range-logo{
	width:30em;
}
#subheader{
	height:2em;
	margin-top: 0.2em;
	background-color: #999;
	padding:0.5em;
	padding-bottom: 0;
}
#position{
	display:inline;
	float:left;
}
}

